<div class="middle">

<div class="container" align-self-center>
 

<h1>Welcome to the workout recommender!</h1>
<%= form_tag do%>
    <b><p> Your Name: <%= text_field_tag(:nameInput) %> </p></b>
    <b><p> Your Age: <%= text_field_tag(:ageInput) %> </p></b>
    <i><p> Please choose from the following: Cardio, Yoga, Running, Ab Workout, HIIT, Strength Training, Stretching, Pilates </p></i>
    <b> <p> Desired Type of Workout: <%= text_field_tag(:workout_typeInput) %> </p> </b>
    <i><p> Please choose from the following: 15 minutes, 30 minutes, 45 minutes, 1 hour </p></i>
    <b><p> Duration of Workout: <%= text_field_tag(:durationInput) %> </p></b>
    <i><p> Please choose from the following: Low, Medium, High </p></i>
    <b><p> Intensity Level: <%= text_field_tag(:intensityInput) %> </p></b>
    <p> <%= submit_tag "Enter Info"%> </p>
<% end %>


<p> <a href='workout_recommender/DisplayResults'>Click here to see results</a></p>


<%= form_tag do%> 
    <p>  <a href="/workout_recommender/dataentry">Click here to populate database</a> </p>
<% end %>
</div>
<div class="middle">
